/**CSS Start**/
html, body, ul, li, p, a , h1, h2, h3, h4, h5, h6, div, header, section, span, hgroup, img, nav, td, tr, table, th, tbody, form, label, textarea, b{
	margin: 0;
	padding: 0;
}

html, body {
	 width: 100%;
	 -webkit-font-smoothing: antialiased;
    font-smoothing: anti-aliased;
	background: #e6efd8 !important;

}

a {text-decoration: none;}

ul, ol, li {list-style-type: none;}
div.clear {clear:both;}
#wrapper {
	padding: 0;
	margin: 0;
	width: inherit;

}

#wrapper .clear {
	width: inherit;
	height: 1px;
	clear: both;
}

#content {
	width: 1020px;
	background: #fff;
	font-family: calibri;
	-moz-box-shadow:  3px 0 10px #6a6a6a;
    -webkit-box-shadow:  3px 0 10px #6a6a6a;
    box-shadow:  3px 0 10px #6a6a6a;
	display: table-cell;
}

#main_menu{
	padding: 79px 0 0 0;
	margin: 0;
	width: 65px;
	display: table-cell;
	vertical-align:top;
	background: #e6efd8 url(/images/menu_shadow.png) right repeat-y;
}

#main_menu ul, #main_menu ul li  {
	margin: 0;
	padding: 0;
}

#main_menu ul li {
	border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #a3a3a3;
	cursor:pointer;
}

#main_menu ul li:hover {
	background: #8dc63f url(/images/menu_shadow.png) right repeat-y;
	position:relative;
	-webkit-transition: .7s;
}

#main_menu ul li a{
    padding: 0;
    display:inline-block;
    text-decoration:none;
}

#main_menu ul li ul{
    position:absolute;
    display:none;
	z-index: 2;
}

#main_menu ul li:hover ul{
    left:65px;
    top: 0;
    display: block;

}

#main_menu ul li ul li{
    background:#f9f9f9;
	text-align: center;
	font-family: arial;
	border-bottom: 1px solid #d7d7d7;
	border-top: none;
	padding: 8px;
}

#main_menu ul li:hover ul li:hover{
    background:orange;
	color: white;
	background-image: none;
	-webkit-transition: none;
}

#main_menu ul li ul li a{
    color:#797979;
    display:inline-block;
    width: 150px;
	font-size: 14px;
	margin: 0;
}

#main_menu .green {
	background: #8dc63f url(/images/menu_shadow.png) right repeat-y;
}

#main_menu .green img{
	margin: 0;
	padding: 0;
	opacity: 1;
}

#main_menu img{
	margin: 0;
	padding: 0;
	opacity: .4;
}

#main_menu img:hover{
	opacity: 1;
}

/*POPUP.CSS*/

.popup_back {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.popup_cont {
	position: fixed;
	z-index: 102;
}

.preloader {
	z-index: 101;
}

/*Edit*/

.popup_close {
	color: #888;
	cursor: pointer;
	position: absolute;
	padding: 5px;
	right: 5px;
	top: 0;
}

.popup_close:hover {
	color: #111;
}

.popup_back {
	cursor: pointer;
	background-color: #222;
}

div.popup {
	background: #fff;
	padding: 25px ;
	text-align: center;
	-moz-box-shadow: 0 2px 4px 0 #000;
    -webkit-box-shadow: 0 2px 4px 0 #000;
    box-shadow: 0 2px 4px 0 #000;
	font: normal 12px calibri;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
}

.popup h3{
	font: normal 28px miso-regular-webfont;
	color: #a2b20d;
	margin: 5px 0 20px 0;
}

.popup ul{
	margin: 0;
	padding: 0;
}

.popup li{
	display: inline;
	vertical-align: middle;
	margin: 0 0 0 3px;
}

.popup a, .popup input[type="submit"]{
	color: #fff;
	cursor: pointer;
	padding: 5px 25px;
	text-align: center;
	font: bold 14px calibri;
	text-decoration: none;
	text-align: center;
	border: none;
	background: #41cbff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-khtml-border-radius: 5px;
}

.popup a:hover, .popup input[type="submit"]{
	background-color: #ff5400;
	-webkit-transition:0.2s ease;
    -moz-transition:0.2s ease;
    -ms-transition:0.2s ease;
    -o-transition:0.2s ease;
    transition:0.2s ease;
}

.popup  input[type="search"] {
	font: italic 12px arial;
	outline: none;
	width: 300px;
	height: 25px;
	color: #464646;
	padding: 0 20px 0 8px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
	border: 1px solid #ccc;
	background:transparent url(/images/search.png) no-repeat right;
}

.popup  input[type="search"]:focus {
	-moz-box-shadow: inset 0 0 10px #ccc;
    -webkit-box-shadow: inset 0 0 10px #ccc;
    box-shadow: inset 0 0 10px #ccc;
}

.popup  select {
	padding: 4px 0 4px 3px;
	margin: 0 ;
	width: 150px;
	font: italic 12px arial;
	outline: none;
	color: #464646;
	-webkit-appearance: none;
	border: 1px solid #cccccc;
	background: #fff url(/images/filter-arrow.png) no-repeat right;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-khtml-border-radius: 2px;
}

.preloader {
	left: 50%;
	margin: -10px 0 0 -25px;
	position: fixed;
	top: 50%;
	font-family: arial;
}

/**top**/

#top .clear {
	clear: both;
	height: 1px;
	width: inherit;
}

#top {
	width: inherit;
	height: 80px;
	margin: 0;
	padding: 0;
	background: #9da82d;
}

#top .logo img{
	margin: 4px 25px 0 25px;
	padding: 0 ;
	width: 91px;
	height:66px;
}

#top .logo{
	margin: 0;
	padding: 0;
	width: 140px;
	height: 80px;
	float: left;
	border-right: 1px solid #788400;
	background: #879507;
}

#top .rightside{
	float: right;
	margin: 0 30px 0 0;
}

/**dropdown**/

#top .user {
	float: right;
	margin: 0;
	padding: 0;
	color: #fff;
	font: normal 12px calibri;
}

#top .user li{
	display: inline-block;
	vertical-align: middle;
}

.notify {
	padding: 0;
	margin: 0;
}

.notify img{
	width: 20px;
	height: 20px;
}

.notify:hover {
	opacity: .5;
}

.account {
	cursor: pointer;
	padding: 10px 45px 10px 20px;
	margin: 0;
	background: #95a408 url(/images/bg-gray.png) no-repeat right;
}

.account:hover {
	background: #f7941d url(/images/bg-gray.png) no-repeat right;
}

.account span {
	font-size: 14px;
	color: #FFEB00;
	text-shadow: 0px 1px 0px rgba(5, 78, 18, 0.55);
	margin: 0;
	padding: 0;
}

/*Initialize*/
ul.user, ul.user ul.sub {
    padding:0;
    margin: 0;
}
ul.user li, ul.user ul.sub li {
    list-style-type: none;
    display: inline-block;
}
/*Link Appearance*/
ul.user li a, ul.user li ul.sub li a {
    text-decoration: none;
    color: #787878 !important;
    background: #f9f9f9;
    padding: 10px 0 10px 10px;
    display:inline-block;
	width: 130px;
	border-bottom: 1px dashed #ececec;
}
/*Make the parent of sub-menu relative*/
ul.user li {
    position: relative;
}
/*sub menu*/
ul.user li ul.sub {
    display:none;
    position: absolute;
    top: 35px;
    left: 5px;
    width: 130px;

}
ul.user li:hover ul.sub {
    display:block;
	z-index:1;
}

/**Submenu Dropdown**/

#top #submenu{
	margin: 22px 0 0 0;
	padding: 0;
	clear: both;
	float: right;
}

#top #submenu, #top #submenu a{
	font-family: arial;
	font-size: 12px;
	color: #fff;
}

#top #submenu a:hover {
	color: #FFEB00;
	text-decoration: underline;
}

#top #submenu li{
	display: inline-block;
	margin: 0 0 0 3px;
}

/**Steps**/

.process{
	font-family: arial;
	font-size: 12px;
	color: #fff;
	margin: 0;
	padding: 0;
	cursor: default;
	/* set right tabs - gat */
	position: absolute;
	right: 0;
}

.process li{
	display: inline-block;
	margin: 0 -2px;
	padding: 10px;
	border-left: 1px dashed #ececec;
	background: orange;
}

.process li:first-child{border: none;}

.process .active {
	color: white;
	background:  #ff5400;
}

/* Gat - tab links */
.process li a {
	color: white;
}

/*.process .grayed {
	background: #898989;
	color: white;
}*/

/*Initialize*/
ul#submenu ul#submenu ul.sub-menu {
    padding:0;
    margin: 0;
}
ul#submenu li, ul#submenu ul.sub-menu li {
    list-style-type: none;
    display: inline-block;
}
/*Link Appearance*/
ul#submenu li ul.sub-menu li a {
    text-decoration: none;
	color: #787878!important;
    background: #f9f9f9;
    padding: 10px 0 10px 10px;
    display:inline-block;
	width: 130px;
	border-bottom: 1px dashed #ececec;
}

/*Make the parent of sub-menu relative*/
ul#submenu li {
    position: relative;
}
/*sub menu*/
ul#submenu li ul.sub-menu {
    display:none;
    position: absolute;
    margin: 0 0 0 -3px;
    width: 100px;

}
ul#submenu li:hover ul.sub-menu {
    display: block;
}

/**@fontface**/

@font-face {
    font-family: 'calibri';
    src: url('/fonts/calibri.eot');
    src: url('/fonts/calibri.eot') format('embedded-opentype'),
         url('/fonts/calibri.woff') format('woff'),
         url('/fonts/calibri.ttf') format('truetype'),
         url('/fonts/calibri.svg#calibri') format('svg');
}

@font-face {
    font-family: 'miso-bold-webfont';
    src: url('/fonts/miso-bold-webfont.eot');
    src: url('/fonts/miso-bold-webfont.eot') format('embedded-opentype'),
         url('/fonts/miso-bold-webfont.woff') format('woff'),
         url('/fonts/miso-bold-webfont.ttf') format('truetype'),
         url('/fonts/miso-bold-webfont.svg#miso-bold-webfont') format('svg');
}

@font-face {
    font-family: 'miso-light-webfont';
    src: url('/fonts/miso-light-webfont.eot');
    src: url('/fonts/miso-light-webfont.eot') format('embedded-opentype'),
         url('/fonts/miso-light-webfont.woff') format('woff'),
         url('/fonts/miso-light-webfont.ttf') format('truetype'),
         url('/fonts/miso-light-webfont.svg#miso-light-webfont') format('svg');
}

@font-face {
    font-family: 'miso-regular-webfont';
    src: url('/fonts/miso-regular-webfont.eot');
    src: url('/fonts/miso-regular-webfont.eot') format('embedded-opentype'),
         url('/fonts/miso-regular-webfont.woff') format('woff'),
         url('/fonts/miso-regular-webfont.ttf') format('truetype'),
         url('/fonts/miso-regular-webfont.svg#miso-regular-webfont') format('svg');
}

@font-face {
    font-family: 'opensans-regular-webfont';
    src: url('/fonts/opensans-regular-webfont.eot');
    src: url('/fonts/opensans-regular-webfont.eot') format('embedded-opentype'),
         url('/fonts/opensans-regular-webfont.woff') format('woff'),
         url('/fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('/fonts/opensans-regular-webfont.svg#opensans-regular-webfont') format('svg');
}

/**Content-area**/

#content-area {
	margin: 0 0 0 10px;
	padding: 0 0 50px 0;
	width: 998px;
	color: #919191;
	position: relative; /* set right tabs - gat */
}

#content-area .header {
	margin: 63px 0 0 0;
	padding: 0;
	height: 43px;
}

#content-area .header h3{
	font: normal 45px miso-regular-webfont;
	color: #a2b20d;
	float: left;
	display: block;
	line-height: 20px;
	margin: 0; /* override bootstrap - gat */
}

#content-area .header span{
	font: normal 16px opensans-regular-webfont;
	color: #98aa87!important;
}

#content-area .header div{
	float: right;
	display: block;
	color: #94c5eb;
	font: bold 20px miso-regular-webfont;
	margin: 15px 0 0 0;
}

#content-area .header .default_popup, #content-area .header button{
	float: right;
	display: block;
	margin: 10px 0 0 0;
	padding: 5px 45px 5px 17px;
	font: normal 16px calibri;
	color: #fff;
	border: none;
	-moz-border-radius: px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	background: #AF3A00 url(/images/button_bg.png) right no-repeat;
}

#content-area .header .default_popup:hover, #content-area .header button:hover {
	background: #ff5400 url(/images/button_bg.png) right no-repeat;
	color: #fff;
}

#content-area .header  input[type="text"] {
	font: normal 12px arial;
	outline: none;
	width: 120px;
	height: 25px;
	color: #464646;
	padding: 0 0 0 10px;
	margin: 0;
	border: 1px solid #cccccc;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-khtml-border-radius: 20px;
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#content-area .header span{
	color: #464646;
	font: normal 14px calibri;
}

/**company-info**/

#content-area  .page-title{
	margin: 0;
	padding: 0;
	float: left;

}

#content-area .page-title span{
	color: #919191 ;
	font: bold 16px calibri;
}

#content-area .page-title .photoID{
	width: 60px;
	height: 60px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-khtml-border-radius: 2px;
	border: 1px solid #dfdfdf;
	margin: 0;
	padding: 0;
}

#content-area .page-title li{
	margin: 0 10px 0 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
	color:  #919191;
	line-height: 16px;
	font: normal 14px calibri;

}

#content-area .page-title  h1 {
	font: normal 26px miso-regular-webfont;
	color: #a2b20d;
	margin: 0;
	padding: 0;
	line-height: 18px;
}

#content-area  .deets{
	margin: 0;
	padding: 0;
	float: right;
}

#content-area  .deets ul{
	display:block;
	float: left;
	font-size: 12px;
	margin-top: 5px;
}

#content-area  .deets li{
	line-height: 18px;
}

#content-area  .deets ul:first-child{font-weight: bold; margin-right: 20px;}


#controls{
	margin: 20px 0 0 0;
	float: right;
}

#controls li{
	display: inline-block;
	padding: 0;
	margin: 0 5px 0 5px;
	cursor: default;
	overflow: hidden;
	height: 20px;
}

#controls .icon {
	margin: -20px 0 0 0;
	padding: 0;
}

#controls .icon:hover{
	margin: 0;
	padding: 0;
}


#content-area .brokenline{
	clear: both;
	height: 2px;
	margin: 15px 0 15px 0 ;
	background: transparent url(/images/broken-line.png) repeat-x;
}

#content-area .brokenline02{
	clear: both;
	height: 2px;
	padding: 0;
	margin: 15px 0;
	background: transparent url(/images/broken-line02.png) repeat-x;
}

#content-area  .information {
	margin: 10px 0;
	padding: 0;
	clear: both;
}

#content-area  .information02 {
	margin: 10px 0;
	padding: 0;
	float: left;
	width: 46%;
}

#content-area  .information hgroup, #content-area  .information02 hgroup{
	border-bottom: 1px dashed #ececec;
	margin: 0 0 20px 0;
}

#content-area  .information h2, #content-area  .information02 h2{
	color: #AFAC6D;
	font: bold 18px opensans-regular-webfont;
}

#content-area  .information p, #content-area  .information02 p{
	margin: 0 0 10px 0;
}

#content-area  .default_popup, #content-area  .button02 {
	color: #7d7d7d;
	display: block;
	padding: 4px 0 2px 24px;
	margin: 0;
	font: normal 14px opensans-regular-webfont;
	text-decoration: none;
	text-align: center;
	float: right;
	border: none;
	background: transparent url(/images/plus.png) left no-repeat ;
}

#content-area  .default_popup:hover, #content-area  .button02:hover {
	color: #f8941d;
}

#content-area .filler{
	height: 30px;
	width: 50px;
	margin: 0 ;
	padding: 0;
	float: left;
}

.legal_stuff {
	width: 85%;
	text-indent: 20px;
	margin: 20px 0 0 50px;
}

.legal_stuff a{
	color: #667e45;
	font-size: 16px;
	cursor: default;
	text-decoration: none;
}

.legal_stuff a:hover{
	color: orange;
}

.scope {
	margin: 10px  0 10px 50px;
}

.scope li{
	list-style: disc;
	color: #667e45;
	cursor: default;
}

.scope li:hover{
	color: orange;
}

/**filter**/
#filter-search {
	color: #787878;
	margin: 20px 13px 0 0;
	padding: 0;
	height: 25px;
	float: left;
}

#filter-search li {
	display: inline-block;
	margin: 0;
	font: normal 12px arial;
}

#filter-search img{
	margin: 0 5px 0 5px;
	padding: 0;
	vertical-align: middle;
}

#filter-search .select {
	padding: 4px 0 4px 3px;
	margin: 0 ;
	width: 50px;
	font: italic 12px arial;
	outline: none;
	color: #464646;
	-webkit-appearance: none;
	border: 1px solid #cccccc;
	background: #fff url(/images/filter-arrow.png) no-repeat right;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-khtml-border-radius: 2px;
}

#filter-search .select02 {
	padding: 4px 0 4px 3px;
	margin: 10px 0 0 0 ;
	width: 150px;
	font: italic 12px arial;
	outline: none;
	color: #464646;
	-webkit-appearance: none;
	border: 1px solid #cccccc;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-khtml-border-radius: 2px;
	background: #fff url(/images/arrow.png) no-repeat right;
}

/**text-search**/
#text-search {
	color: #787878;
	margin: 20px 0 0 0;
	padding: 0;
	height: 25px;
	float: right;
}

#text-search  input[type="search"] {
	font: italic 12px arial;
	outline: none;
	width: 200px;
	height: 25px;
	color: #464646;
	padding: 0 20px 0 8px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
	border: 1px solid #ccc;
	background:transparent url(/images/search.png) no-repeat right;
}

#text-search  input[type="search"]:focus {
	-moz-box-shadow: inset 0 0 10px #ccc;
    -webkit-box-shadow: inset 0 0 10px #ccc;
    box-shadow: inset 0 0 10px #ccc;
}

/**big buttons**/
#buttons {
	float: right;
	margin: 20px 0 0 0;
	padding: 0;
}

#buttons .form_button, #buttons .form_button02 {
	float: left;
	background: orange;
	margin: 0 0 0 3px;
	padding: 5px 15px 5px 15px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	border: none;
	font: normal 20px miso-regular-webfont;
	color: white;
}


#buttons .form_button03 {
	float: left;
	background: #AF3A00;
	margin: 0 0 0 3px;
	padding: 5px 15px 5px 15px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	border: none;
	font: normal 20px miso-regular-webfont;
	color: white;
}

#buttons .form_button:hover {
	background-color: #ff0000;
	-webkit-transition:0.2s ease;
    -moz-transition:0.2s ease;
    -ms-transition:0.2s ease;
    -o-transition:0.2s ease;
    transition:0.2s ease;
	border: none;
}

#buttons .form_button02:hover, #buttons .form_button03:hover {
	background-color: #9da82d;
	-webkit-transition:0.2s ease;
    -moz-transition:0.2s ease;
    -ms-transition:0.2s ease;
    -o-transition:0.2s ease;
    transition:0.2s ease;
	border: none;
}

#buttons-blue {
	float: left;
	margin: 20px 0 0 0;
	padding: 0;
}

#buttons-blue .form_button {
	float: left;
	background: #41cbff;
	margin: 0 5px 0 0;
	padding: 5px 15px 5px 15px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	border: none;
	font: normal 20px miso-regular-webfont;
	color: white;
}

#buttons-blue .form_button:hover {
	background-color: #004C99;
	-webkit-transition:0.2s ease;
    -moz-transition:0.2s ease;
    -ms-transition:0.2s ease;
    -o-transition:0.2s ease;
    transition:0.2s ease;
	border: none;
}

.orange_button {
	float: right;
	background: #41cbff;
	margin: 0 0 20px 0;
	padding: 5px 15px 5px 15px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	border: none;
	font: normal 16px calibri;
	color: white;
}

.orange_button:hover {
	background: #ff5400;
	-webkit-transition:0.2s ease;
    -moz-transition:0.2s ease;
    -ms-transition:0.2s ease;
    -o-transition:0.2s ease;
    transition:0.2s ease;
	border: none;
}

.add_new_button {
	float: right;
	background: orange;
	margin: 0;
	padding: 5px 15px 5px 15px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	border: none;
	font: normal 20px miso-regular-webfont;
	color: white;
}

.add_new_button:hover {
	background-color: #ff0000;
	-webkit-transition:0.2s ease;
    -moz-transition:0.2s ease;
    -ms-transition:0.2s ease;
    -o-transition:0.2s ease;
    transition:0.2s ease;
	border: none;
}

/**table**/

#content .table , #content .table-B, #content .table-C , #content .table-D {
	width: 100% !important;
	margin: 0 0 20px 0;
	padding: 0;
	border-collapse:collapse;
	font: normal 12px Calibri;
	letter-spacing: 1px;
	color: #919191;
}

#content .table-B td:first-child, #content .table-C td:first-child , #content .table-D td:first-child {min-width: 50px;}
#content .table-B td:last-child, #content .table-C td:last-child , #content .table-D td:last-child {min-width: 50px;}

.text-area {
	width: 400px;
	height: 50px;
	padding: 0 0 0 4px;
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
	border: 1px solid #ccc;
	font: normal 12px arial;
	color: #000;
}

.text-area :focus{
	-moz-box-shadow: inset 0 0 10px #ccc;
    -webkit-box-shadow: inset 0 0 10px #ccc;
    box-shadow: inset 0 0 10px #ccc;
}

#sub-table input[type="text"]{
	font: normal 12px arial;
	outline: none;
	width: 150px !important;
	height: 25px;
	color: #464646;
	padding: 0 0 0 4px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
	border: 1px solid #ccc;
}

#sub-table input[type="text"]:focus{
	-moz-box-shadow: inset 0 0 10px #ccc;
    -webkit-box-shadow: inset 0 0 10px #ccc;
    box-shadow: inset 0 0 10px #ccc;
}

#content .table-B input[type="submit"] {
	background: #41cbff !important;
	margin: 0;
	padding: 5px 15px 5px 15px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	border: none;
	font: normal 16px calibri;
	color: white;
}

#content .table-B input[type="submit"]:hover {
	background: #ff5400 !important;
	-webkit-transition:0.2s ease;
    -moz-transition:0.2s ease;
    -ms-transition:0.2s ease;
    -o-transition:0.2s ease;
    transition:0.2s ease;
	border: none;
}

#content .table-B input[type="text"],
#content .table-C input[type="text"],
#content .table-D input[type="text"],
#content .table-B input[type="date"],
#content .table-C input[type="date"],
#content .table-D input[type="date"],
#content .table-B input[type="number"],
#content .table-C input[type="number"],
#content .table-D input[type="number"] {
	font: normal 12px arial;
	outline: none;
	height: 25px;
	width: 70px;
	color: #464646;
	padding: 0 0 0 4px;
	margin: 0;
	border: none;
}

#content .table-B input[type="text"]:focus,
#content .table-C input[type="text"]:focus,
#content .table-D input[type="text"]:focus,
#content .table-B input[type="date"]:focus,
#content .table-C input[type="date"]:focus,
#content .table-D input[type="date"]:focus,
#content .table-B input[type="number"]:focus,
#content .table-C input[type="number"]:focus,
#content .table-D input[type="number"]:focus {
	-moz-box-shadow: inset 0 0 10px #ccc;
    -webkit-box-shadow: inset 0 0 10px #ccc;
    box-shadow: inset 0 0 10px #ccc;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-khtml-border-radius: 2px;
}

#content .table-B select, #content .table-C select, #content .table-D select {
	margin: 0;
	font: normal 12px arial;
	outline: none;
	height: 27px;
	width: 150px;
	color: #464646;
	padding: 0 0 0 3px;
	border: 1px solid #cccccc;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-appearance: none;
	background:transparent url(/images/bg-select.png) no-repeat right;
}

#content .table-C tr{
	cursor: pointer;
}

#content .table-C tr:hover{
	color: orange;
}

#content .table tr, #content .table-B tr , #content .table-C tr, #content .table-D tr {
	padding: 0;
	margin: 0;
}

#content .table td {
	border-right: 1px solid #dedee0;
	border-bottom: 1px solid #dedee0;
	padding: 10px 10px 10px 5px;
	background-color: #fff;
	margin: 0;
}

#content .table-B td, #content .table-C td, #content .table-D td {
	border: 1px solid #dedee0;
	padding: 10px 5px;
	/*background-color: #fff; */
	margin: 0;
	max-width: 300px;
}

#content .table-B a{
	color: #AF3A00;
	font-size: 14px;
	text-decoration: underline;
}

#content .table-B a:hover{
	color: orange;
}

#content .table-C th:last-child, #content .table-C td:last-child {width: 100px;}
#content .table-C .sub-table td:last-child{text-align: center;}

#content .table th, #content .table-B th, #content .table-C th, #content .table-D th {
	margin: 0;
	border: 1px solid #9C9A5D;
	padding: 8px 8px 8px 8px;
	font: normal 14px opensans-regular-webfont;
	color: #fff;
	text-align: left;
	background:   #AFAC6D ;
	text-shadow: 0px 1px 0px rgba(5, 78, 18, 0.55);
}

#content .table li, #content .table-B li, #content .table-C li {
	line-height: 18px;
}


#content .table td:first-child {background: #e6efd8; border-right: 1px dashed #dedee0; border-left: 1px solid #dedee0;}
#content .table td:last-child {border-right: 1px solid #dedee0;}

#report div.arrow { background:transparent url(/images/arrows.png) no-repeat scroll 0px -16px; width:16px; height:16px; display:block; margin: 0 auto;}
#report div.up { background-position:0px 0px;}


.mini {
	font-size: 12px;
	line-height: 22px;
	float: left;
	margin:  0;
	padding: 0;
	min-width: 110px;
}

/**Subtable**/

#sub-table .one, #sub-table .two{width: 120px;}
#sub-table .three {width: 100px;}
#sub-table .four {width: 180px;}

#sub-table li{
	display: inline-block;
	vertical-align: middle;
	margin:  0 5px 0 0;
	padding: 0;
	width: 160px;
}

#sub-table ul{
	margin:  7px 0;
}

#sub-table .three a{
	color: #41cbff;
	font-size: 14px;
}

#sub-table .three a:hover{
	color: orange;
}

#sub-table {
	font-size: 14px;
	margin: 45px 0 15px 0;
}

#sub-table .subtable-header h3 {
	font: bold 14px opensans-regular-webfont;
	color: orange;
	line-height: 28px;
	display: block;
}

#sub-table .subtable-header img{
	float: right;
	display: block;
	margin: 10px 5px 0 0;
}

#sub-table .subtable-header img:hover{
	opacity: .5;
}

#sub-table .subtable-header {
	border-bottom: 1px dashed #ececec;
	padding: 0 0 10px 0;
}

#report .brokenline{
	clear: both;
	height: 2px;
	margin: 35px 0 10px 0 !important;
	background: transparent url(/images/broken-line.png) repeat-x;
}

#actions{
	margin: 0;
	padding: 0;
}

#actions li{
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin: 0;
}

#actions li:first-child img, #actions li:last-child img{
	cursor: pointer;
}

#actions li:first-child img:hover, #actions li:last-child img:hover{
	opacity: .5;
}

#links {
	margin: 5px 0 0 0 !important;
	padding: 0;
	font: normal 12px opensans-regular-webfont;
	float: right;
}

#links li{
	margin: 0 0 0 5px;
	padding: 0;
	display: inline-block;
}

#links a{
	color: #9C9A5D;
}

#links a:hover{
	color: orange;
}

/**form**/

#form_info {
	margin: 0;
	padding: 0;
	vertical-align: center;
	width: 50%;
	float: left;
}

#form_info02 {
	margin: 0;
	padding: 0;
	vertical-align: middle;
	float: left;
}

#form_info img, #form_info02 img{
	width: 230px;
	height: 112px;
}

#form_info li, #form_info02 li{
	margin: 5px 0;
	padding: 0;
}

#form_info label, #form_info02 label{
	font: normal 14px Calibri;
	color: #919191;
}

/**search**/

#form_info .description {
	width: 900px;
}

#form_info .description li{
	display: inline-block;
}

#form_info .description li:first-child {width: 120px;}

#form_info .description input[type="search"]{
	font: normal 12px arial;
	outline: none;
	width: 400px;
	height: 25px;
	color: #464646;
	padding: 0 20px 0 8px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
	border: 1px solid #ccc;
	background:transparent url(/images/search.png) no-repeat right;
}

#form_info .description input[type="text"]{
	font: normal 12px arial;
	outline: none;
	width: 400px;
	height: 25px;
	color: #464646;
	padding: 0 20px 0 8px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
	border: 1px solid #ccc;
}

#form_info .description input[type="search"]:focus, #form_info .description input[type="text"]:focus {
	-moz-box-shadow: inset 0 0 10px #ccc;
    -webkit-box-shadow: inset 0 0 10px #ccc;
    box-shadow: inset 0 0 10px #ccc;
}

/**input data**/

#form_info .data-entry {
	float: left;
	margin: 0 60px 10px 0;
	display: block;
}

#form_info02 .data-entry {
	float: left;
	margin: 0 60px 10px 0;
	display: block;
}

#form_info .data-entry li {
	display: inline-block;
	margin: 0 5px 0 0;
	vertical-align: middle;
	font: normal 14px Calibri;
}

#form_info02 .data-entry li {
	display: inline-block;
	min-width: 100px;
	margin: 0 5px 0 0;
	vertical-align: middle;
	font: normal 14px Calibri;
}

#form_info .data-entry li:first-child, #form_info .data-entry02 li:first-child, #form_info02 .data-entry li:first-child,
#form_info02 .data-entry02 li:first-child {width: 145px; margin: 0;}

#form_info .data-entry input[type="checkbox"], #form_info .data-entry02 input[type="checkbox"], .information #checklist02 input[type="checkbox"],
#form_info02 .data-entry input[type="checkbox"], #form_info02 .data-entry02 input[type="checkbox"] {
	padding: 0;
	margin: 0;
	width: 20px;
	height: 20px;
	display: block;
}

#form_info .data-entry input[type="radio"], #form_info .data-entry02 input[type="radio"], .information #checklist02 input[type="radio"],
#form_info02 .data-entry input[type="radio"], #form_info02 .data-entry02 input[type="radio"] {
	padding: 0;
	margin: 0 5px 0 0;
	vertical-align: middle;
}

/* Gat - Added input number and email */
#form_info .data-entry input[type="text"],
#form_info .data-entry input[type="date"],
#form_info .data-entry input[type="number"],
#form_info .data-entry input[type="email"],
#form_info .data-entry input[type="file"] {
	font: normal 12px arial;
	outline: none;
	width: 200px;
	height: 25px;
	color: #464646;
	padding: 0 0 0 8px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
	border: 1px solid #ccc;
}

#form_info02 .data-entry input[type="text"],
#form_info02 .data-entry input[type="date"],
#form_info02 .data-entry input[type="number"],
#form_info02 .data-entry input[type="email"],
#form_info02 .data-entry input[type="file"] {
	font: normal 12px arial;
	outline: none;
	width: 150px;
	height: 25px;
	color: #464646;
	padding: 0 0 0 8px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
	border: 1px solid #ccc;
}

#form_info .data-entry input[type="file"],
#form_info .data-entry02 input[type="file"],
#form_info02 .data-entry input[type="file"],
#form_info02 .data-entry02 input[type="file"],
#sub-table input[type="file"] {
	outline: none;
	width: 208px;
	height: 25px;
	padding: 0;
	margin: 0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
	border: 1px solid #ccc;
}

#form_info .data-entry input[type="text"]:focus,
#form_info .data-entry input[type="date"]:focus,
#form_info .data-entry input[type="number"]:focus,
#form_info .data-entry input[type="email"]:focus,
#form_info02 .data-entry input[type="email"]:focus,
#form_info02 .data-entry input[type="number"]:focus,
#form_info02 .data-entry input[type="text"]:focus,
#form_info02 .data-entry input[type="date"]:focus {
	-moz-box-shadow: inset 0 0 10px #ccc;
    -webkit-box-shadow: inset 0 0 10px #ccc;
    box-shadow: inset 0 0 10px #ccc;
}

#form_info .data-entry02, #form_info02 .data-entry02 {
	margin: 0 60px 10px 0;
	width: 900px;
}

#form_info .data-entry02 .mini {
	margin:  0;
	padding: 0;
}

#form_info .data-entry02 .mini li{
	display: block;
}

#form_info .data-entry02 li, #items .data-entry02 li{
	display: inline-block;
	margin: 0 5px 0 0;
	vertical-align: middle;
	font: normal 14px Calibri;
}

.total-quotation {
	margin: 0 20px 10px 0;
	float: left;
}

.total-quotation li{
	display: inline-block;
	margin: 0 5px 0 0;
	vertical-align: middle;
	font: normal 14px Calibri;
}

.total-quotation input[type="checkbox"]{
	width: 14px;
	height: 14px;
	vertical-align: middle;
}

.VAT {
	font-size: 12px;
	margin: 10px 0 0 0 !important;
}

.VAT span{color: red;}

#form_info .data-entry02 li:first-child, #items .data-entry02 li:first-child, .total-quotation li:first-child {width: 145px; margin: 0;}

/* Gat - added number and email */
#form_info .data-entry02 input[type="text"],
#form_info .data-entry02 input[type="date"],
#form_info .data-entry02 input[type="number"],
#form_info .data-entry02 input[type="email"],
#form_info .data-entry02 input[type="password"]{
	font: normal 12px arial;
	outline: none;
	width: 200px;
	height: 25px;
	color: #464646;
	padding: 0 0 0 8px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
	border: 1px solid #ccc;
}

.total-quotation input[type="text"]{
	font: normal 12px arial;
	outline: none;
	width: 150px;
	height: 25px;
	color: #464646;
	padding: 0 0 0 8px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
	border: 1px solid #ccc;
}

#form_info .data-entry02 input[type="text"]:focus {
	-moz-box-shadow: inset 0 0 10px #ccc;
    -webkit-box-shadow: inset 0 0 10px #ccc;
    box-shadow: inset 0 0 10px #ccc;
}

#form_info .data-entry02  textarea, #items .data-entry02  textarea{
	padding: 5px;
	width: 600px;
	height: 100px;
	/*padding: 0 0 0 3px;*/
	border: 1px solid #cccccc;
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-khtml-border-radius: 5px;
	vertical-align: middle;
	font: normal 14px Calibri;
	color: #919191;
}

#form_info .data-entry02  textarea:focus {
	-moz-box-shadow: inset 0 0 10px #ccc;
    -webkit-box-shadow: inset 0 0 10px #ccc;
    box-shadow: inset 0 0 10px #ccc;
}

#form_info .data-entry input[type="submit"], #form_info .data-entry02 input[type="submit"], #form_info02 .data-entry input[type="submit"] {
	color: #fff;
	padding: 5px 15px;
	margin: 0;
	text-align: center;
	font: bold 12px arial;
	text-decoration: none;
	text-align: center;
	border: none;
	background: #41cbff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-khtml-border-radius: 5px;
}

#form_info .data-entry input[type="submit"]:hover, #form_info .data-entry02 input[type="submit"]:hover, #form_info02 .data-entry input[type="submit"]:hover {
	background-color: #ff5400;
	-webkit-transition:0.2s ease;
    -moz-transition:0.2s ease;
    -ms-transition:0.2s ease;
    -o-transition:0.2s ease;
    transition:0.2s ease;
	border: none;
}

#form_info .data-entry select, #form_info .data-entry02 select{
	margin: 0;
	font: normal 12px arial;
	outline: none;
	width: 208px;
	height: 27px;
	color: #464646;
	padding: 0 0 0 3px;
	border: 1px solid #cccccc;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-appearance: none;
	background:transparent url(/images/bg-select.png) no-repeat right;
}

#form_info02 .data-entry select, #form_info02 .data-entry02 select {
	margin: 0;
	font: normal 12px arial;
	outline: none;
	width: 158px;
	height: 27px;
	color: #464646;
	padding: 0 0 0 3px;
	border: 1px solid #cccccc;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-appearance: none;
	background:transparent url(/images/bg-select.png) no-repeat right;
}

/**items**/

#items .items, #items .describe, #items .describe02 {
	float: left;
	margin: 20px 9px 20px 0 ;
}

#items .items li, #items .describe li, #items .describe02 li{
	margin: 10px 0;
	padding: 0;
	display: block;
	height: 25px;
}

#items .items input[type="text"]{
	font: normal 12px arial;
	outline: none;
	width: 80px;
	height: 25px;
	color: #464646;
	padding: 0 0 0 8px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
	border: 1px solid #ccc;
}

#items .describe input[type="text"] {
	font: normal 12px arial;
	outline: none;
	width: 200px;
	height: 25px;
	color: #464646;
	padding: 0 0 0 8px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
	border: 1px solid #ccc;
}

#items .describe select, #items .items select {
	margin: 0;
	font: normal 12px arial;
	outline: none;
	width: 208px;
	height: 27px;
	color: #464646;
	padding: 0 0 0 3px;
	border: 1px solid #cccccc;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-appearance: none;
	background:transparent url(/images/bg-select.png) no-repeat right;
}

#sub-table .subtable-header select {
	margin: 0;
	font: normal 12px arial;
	outline: none;
	width: 170px;
	height: 27px;
	color: #464646;
	padding: 0;
	border: 1px solid #cccccc;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-appearance: none;
	background:transparent url(/images/bg-select.png) no-repeat right;
}

#items .describe02 input[type="text"]{
	font: normal 12px arial;
	outline: none;
	width: 300px;
	height: 25px;
	color: #464646;
	padding: 0 0 0 8px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
	border: 1px solid #ccc;
}

#items .items input[type="text"]:focus, #items .describe input[type="text"]:focus, #items .describe02 input[type="text"]:focus {
	-moz-box-shadow: inset 0 0 10px #ccc;
    -webkit-box-shadow: inset 0 0 10px #ccc;
    box-shadow: inset 0 0 10px #ccc;
}

#items .describe02 input[type="submit"], #items .items input[type="submit"], #content .table-B input[type="submit"], #content .table-C input[type="submit"], #content .table-D input[type="submit"]  {
	color: #fff;
	padding: 6px 15px;
	margin: 0 2px;
	text-align: center;
	font: bold 12px arial;
	text-decoration: none;
	text-align: center;
	border: none;
	background: #AF3A00;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-khtml-border-radius: 2px;
}

#items .describe02 input[type="submit"]:hover, #items .items input[type="submit"]:hover, #content .table-B input[type="submit"]:hover, #content .table-C input[type="submit"]:hover, #content .table-D input[type="submit"]:hover {
	background: #ff5400 ;
	-webkit-transition:0.2s ease;
    -moz-transition:0.2s ease;
    -ms-transition:0.2s ease;
    -o-transition:0.2s ease;
    transition:0.2s ease;
	border: none;
}

/* Gat - Pagination style */
.pagination { margin: 0 !important; }

.form_button:hover {
	text-decoration: none !important;
}












/*CUSTOM*/


.add_sow{float: right;
display: block;
margin: 0px;
padding: 5px 45px 5px 17px;
font: 16px calibri;
color: #FFF;
border: medium none;
border-radius: 4px;
background: #AF3A00 url("../images/button_bg.png") no-repeat scroll right center;
vertical-align: middle;}

.add_sow:hover{
	color: white !important;
	text-decoration: none;
	background-color: #ff5400;
}


.process li, .tab li{display: inline-block;
margin: 0px -2px;
padding: 10px 15px;
border-left: 1px dashed #ECECEC;
background: #FFA500 none repeat scroll 0% 0%;
text-align: center;
min-width: 50px;}

.process .active, .tab .active {
    color: white !important;
    background: #FF5400 none repeat scroll 0% 0%;
}
.process .active, .tab .active a {
    color: white !important;
    
}

.addNewRFQ {
    background: #AF3A00  url("../images/button_bg.png") no-repeat scroll right center !important;
    color: #FFF !important;
}
.addNewRFQ:hover{background-color: #ff5400 !important}

.addNewRFQ2 {
   color: #7D7D7D !important;
display: block !important;
padding: 4px 0px 2px 24px !important;
margin: 0px !important;
font: 14px opensans-regular-webfont !important;
text-decoration: none !important;
text-align: center !important;
float: right !important;
border: medium none !important;
background: transparent url("../images/plus.png") no-repeat scroll left center !important;
}
.addNewRFQ2:hover{color: #FFA500 !important}

.add_more {
   color: #7D7D7D !important;
display: block !important;
padding: 4px 0px 2px 24px !important;
margin: 0px !important;
font: 14px opensans-regular-webfont !important;
text-decoration: none !important;
text-align: center !important;
float: right !important;
border: medium none !important;
background: transparent url("../images/plus.png") no-repeat scroll left center !important;
}
.add_more:hover{color: #FFA500 !important}
td.jo-column {background-color: #e6efd8 !important;}
.sorting_1 {background-color: transparent !important;}

.custom-modal-header {border-radius: 2px !important; border-bottom: 0px !important}
.existingCustomerSelection h4{
border-bottom: 1px dashed #797979;
color: #A2B20D;
margin: 5px 0px 20px;
line-height: 36px;font-size: 28px;;font-family:miso-regular-webfont}
.existingCustomerBtn, .newCustomerBtn {color: #FFF !important;
cursor: pointer !important;
padding: 5px 25px !important;
font: bold 14px calibri !important;
text-decoration: none !important;
text-align: center !important;
border: medium none !important;
background: #41CBFF none repeat scroll 0% 0% !important;
border-radius: 5px !important;}
.custom-modal-content{}

.searchCustomerWrapper-header h3{font: 28px miso-regular-webfont !important;
float: left !important;}
.searchCustomerWrapper-header{border-bottom: 1px dashed #797979;
color: #A2B20D;
margin: 5px 0px 20px;
line-height: 36px;}

.searchCustomerWrapper-header p{display: inline-block;
margin: 0px;
font: 12px arial;
vertical-align: middle;}

.add-more-details{color: #7D7D7D !important;
display: block !important;
padding: 4px 0px 2px 24px !important;
margin: 0px !important;
font: 14px opensans-regular-webfont !important;
text-decoration: none !important;
text-align: center !important;
float: right !important;
border: medium none !important;
background: transparent url("../images/plus.png") no-repeat scroll left center !important;}
.add-more-details:hover{color: #FFA500 !important}

.custom-input input[type="text"], .custom-input input[type="date"]{font: 12px arial;
outline: medium none;
width: 200px;
height: 25px;
color: #464646;
padding: 0px 0px 0px 8px;
border-radius: 2px;
box-shadow: 0px 0px 5px #CCC inset;
border: 1px solid #CCC;}

/* .custom-form-info ul li {display: inline-block;
margin: 0px 60px 10px 0px;
}
*/
.custom-form-info{margin: 0px;
padding: 0px;
width: 50%;
float: left;}

.custom-form-info  li{display: inline-block;
margin: 0px 5px 0px 0px;
vertical-align: middle;
font: 14px Calibri; width: 145px;
}

.jo_btn input[type="submit"], .jo_btn input[type="button"]
{float: left;
	left: 731px;
	position: relative;
background: #FFA500 none repeat scroll 0% 0%;
margin: 20px 0px 0px 3px;
padding: 5px 15px;
border-radius: 4px;
border: medium none;
font: 20px miso-regular-webfont;
color: #FFF;}
button.jo_btn23
{float: right !important;
background: #FFA500 none repeat scroll 0% 0% !important;
margin: 20px 0px 0px 3px !important;
padding: 5px 15px !important;
border-radius: 4px !important;
border: medium none !important;
font: 20px miso-regular-webfont;
color: #FFF;}
/*button.jo_btn23{float: left !important;
background: #FFA500 none repeat scroll 0% 0% !important;
margin: 0px 0px 0px 3px !important;
padding: 5px 15px !important;
border-radius: 4px !important;
border: medium none !inline-block;
font: 20px miso-regular-webfont !important;
color: #FFF !important;}*/
.DA-scope {margin: 0px 60px 10px 0px !important;
width: 100% !important;}
.DA-scope label, .bill-mat label{width: 145px;
margin: 0px;}
.DA-scope  select, .bill-mat  select{margin: 0px;
font: 12px arial;
outline: medium none;
width: 208px;
height: 27px;
color: #464646;
padding: 0px 0px 0px 3px;
border: 1px solid #CCC;
border-radius: 2px;
background: transparent url("../images/bg-select.png") no-repeat scroll right center;}
.scope-details, .letter-details{    margin: 0px;
    border: 1px solid #9C9A5D;
    padding: 8px;
    font: 14px opensans-regular-webfont;
    color: #FFF;
    text-align: center !important;
   
    text-shadow: 0px 1px 0px rgba(5, 78, 18, 0.55);
}
.bill-mat {margin-bottom: 20px}

.table-B th {    margin: 0px;
    border: 1px solid #9C9A5D;
    padding: 8px;
    font: 14px opensans-regular-webfont;
    color: #FFF;
    text-align: center !important;
    background: #AFAC6D none repeat scroll 0% 0%;
    text-shadow: 0px 1px 0px rgba(5, 78, 18, 0.55);
}

.text-area2 {width: 100%;height: 50px;
	padding: 0 0 0 4px;
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
	border: 1px solid #ccc;
	font: normal 12px arial;
	color: #000;}